*.s#*
*.b#*
*.l#*
*.epf
*.erc
/firmware/default
/firmware/Debug

/pcb/NixieClock_v4/NixieClock.htm
/pcb/NixieClock_v4/NixieClock.pro
/pcb/NixieClock_v4/NixieClock.GBL
/pcb/NixieClock_v4/NixieClock.GBO
/pcb/NixieClock_v4/NixieClock.GBS
/pcb/NixieClock_v4/NixieClock.GML
/pcb/NixieClock_v4/NixieClock.GTL
/pcb/NixieClock_v4/NixieClock.GTO
/pcb/NixieClock_v4/NixieClock.GTP
/pcb/NixieClock_v4/NixieClock.GTS
/pcb/NixieClock_v4/NixieClock.TXT
/pcb/NixieClock_v4/NixieClock.dri
/pcb/NixieClock_v4/NixieClock.gpi
/pcb/NixieClock_v4/NixieClock.zip
/pcb/NixieClock_v4/top.eps
